/vendor/
/generated_entities_for_testing.csv
/phpcpd.phar
/pdepend
/var/cache/pdepend
/get-docker.sh
/.idea/
/settings.json

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
